@font-face {
  font-family: 'BabyDoll';
  src: local('BabyDoll'), url(./assets/fonts/BabyDoll.ttf) format('ttf');
}
body {
  margin: 0;
  background: url('./assets/background/websiteanim_2.gif') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

